
// Typography
$font-main: 'HelveticaNeue';
$font-main-bold: 'VisbyRound-Bold';
$font-main-extrabold: 'VisbyRound-ExtraBold';
$font-main-boldOblique: 'VisbyRound-BoldOblique';
$font-special: 'HighestPraise-Regular';
$font-titles: 'Aderes-Regular';

// Colors
$light-blue: #5FD0DF;
$sun-yellow: #F3BD48;
$earth-brown: #C39B82;
$strong-blue: #415364;
$letters-black: #141d38;
$medium-blue: #16B0C4;

$font-size-base: 0.9rem;
$line-height-base: 1.6;
$header-height: 80px;
$header-height-scroll: 65px;
$header-mobile-height: 60px;
$footer-height: 308px;
