.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.padding-space {
  padding: 20px 0;
}

.buttons-space {
  margin: 0 10px;
}

.contenedor-el {
  &.invalid {
    input {
      border-color: #c00;
    }
  }

  &.valid {
    input {
      border-color: #00aa6c; 
    }
  }
}

.custom-autocomplete {
  width: 100%;
  border: 1px solid #ced8dc;
  background-color: #FFF;
  border-radius: 4px;
  align-items: center;
  margin-top: 5px;

  & > div {
    width: 100%;
    height: 45px;
  }

  .item {
    text-align: left;
    font-size: 1.2em;
    padding: 4px 0;
    padding-left: 15px;
    color: #000;
    cursor: pointer;
  }

  input {
    padding-left: 10px;
    border: none;
    width: 100%;
    height: 100%;
  }

  &.valid {
    border-color: #00aa6c; 
  }

  &.invalid {
    border-color: #c00;
  }
}

.title-form {
  font-size: 0.85rem;
  font-family: 'SFUIDisplay-Medium';
  color: rgba(0, 0, 0, 0.87);
  margin-bottom: 5px;
}

.categories-book-list {
  padding: 0;

  li {
    list-style-type: none;
    padding: 3px 0;
    display: flex;
    justify-content: space-between;
  }

  button {
    background: transparent;
    border: none;
    font-size: 1.4em;
    cursor: pointer;
  }
}

.filtros.action {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & > div:first-child {
    flex: 5;
  }

  & > div:last-child {
    flex: 1;
  }

  @media screen and (max-width: 800px) {
    display: block;

    .contenedor-el {
      width: 100%;
    }
  }
}

.clear {
  clear: both;
}

